WARERA_API_KEY={WARERA TOKEN}
WARERA_ITEM_CODE=cookedFish
WARERA_ITEM_OFFER_ID=698ba068052b6e7b635f4922
WARERA_ARTICLE_ID=
WARERA_WORK_OFFER_ID=
WARERA_BATTLE_ID=
WARERA_COMPANY_ID=
WARERA_REGION_ID=
WARERA_MU_ID=
WARERA_ROUND_ID=